* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > img {
    width: 600px;
    height: 100%;
}

.christmasTitle {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
}

.christmasTitle > h1 {
    color: rgb(240, 240, 240);
    font-size: 60px;
    font-family: "Berkshire Swash", Arial, Helvetica, sans-serif;
    user-select: none;
}

.timeContainer {
    width: 550px;
    height: 200px;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
}

footer {
    position: absolute;
    bottom: 10px;
    color: rgb(240, 240, 240);
    font-family: "Berkshire Swash", Arial, Helvetica, sans-serif;
}